<div class="text-center">
    <img src="~/imagenes/cv_foto_personal_2.png" id="foto" />
</div>

<div class="justify-content-center text-center">
    <div class="col">
        <p class="fuenteTerciaria colorTercero textoJustificado" style="font-weight: bold;">
            Programador informático con experiencia en desarrollo web y aplicaciones móviles. Especializado en realizar programas informáticos en PHP y en brindar soporte web a negocios locales con Wordpress. 
        </p>
        <p class="fuenteTerciaria colorTercero textoJustificado" style="font-weight: bold;">
            Últimamente he realizado pequeños proyectos Web APIs con ASP.NET. 
        </p>
        <p class="fuenteTerciaria colorTercero textoJustificado" style="font-weight: bold;">
            ¡Con ganas de seguir aprendiendo!
        </p>
    </div>
    <div class="grid-container">
        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-15" style="background-color: #838dba">PHP</p>
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-15" style="background-color: #1b769c">Wordpress</p>
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-15" style="background-color: #8acf17;">jQuery</p>
        </div>
        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-10" style="background-color: #e44d26">HTML</p>
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-10" style="background-color: #2277ff">CSS</p>
            <p class="fuentePrincipal colorPrimero p-2 m-1 fs-10" style="background-color: #efd81d">Javascript</p>
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-10" style="background-color: #27245d">Prestashop</p>
        </div>
        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-9" style="background-color: #d0a701">SQL</p>
            <p class="fuentePrincipal colorPrimero p-2 m-1 fs-9" style="background-color: #dddddd">Java</p>
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-9" style="background-color: #0b2dbe">ASP.NET</p>
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-9" style="background-color: #ce62c5">C#</p>
            <p class="fuentePrincipal colorOctavo p-2 m-1 fs-9" style="background-color: #ff2d20">Laravel</p>
        </div>
    </div>
    <div class="col mt-3">
        <div class="d-flex mgt-3">
            <i class="bi bi-mailbox2 colorQuinto"></i>
            <div class="text-left colorQuinto fuenteSecundaria ml-8 fs-10 mgt-3">
                <a href="mailto:javimoya33@gmail.com" target="_blank" class="colorQuinto">javimoya33@gmail.com</a>
            </div>
        </div>
        <div class="d-flex mgt-3">
            <i class="bi bi-telephone-fill colorQuinto"></i>
            <div class="text-left fuenteSecundaria ml-8 fs-10 mgt-3">
                <a href="https://web.whatsapp.com/send?phone=34667630958" target="_blank" class="colorQuinto">656 329 246</a>
            </div>
        </div>
        <div class="d-flex mgt-3">
            <i class="bi bi-linkedin colorQuinto"></i>
            <div class="text-left colorQuinto fuenteSecundaria ml-8 fs-10 mgt-3">
                <a href="https://www.linkedin.com/in/javier-moya-mateo-1b93bb13b/" target="_blank" class="colorQuinto">es.linkedin.com</a>
            </div>
        </div>
        <div class="d-flex mgt-3">
            <i class="bi bi-github colorQuinto"></i>
            <div class="text-left colorQuinto fuenteSecundaria ml-8 fs-10 mgt-3">
                <a href="https://github.com/javimoya33" target="_blank" class="colorQuinto">github.com</a>
            </div>
        </div>
        <div class="d-flex mgt-3">
            <i class="bi bi-facebook colorQuinto"></i>
            <div class="text-left colorQuinto fuenteSecundaria ml-8 fs-10 mgt-3">
                <a href="https://www.facebook.com/javier.moyamateo" target="_blank" class="colorQuinto">facebook.com</a>
            </div>
        </div>
    </div>
</div>

<div>
    <a href="https://web.whatsapp.com/send?phone=34667630958" target="_blank" class="div-contacto-whatsapp p-20">
        <img src="~/imagenes/whatsapp.png" class="img-contacto-whatsapp" />
        <div class="fondoPrimero fuenteSecundaria colorSeptimo fs-4 btn-portfolio descarga_cv">Contacta conmigo</div>
    </a>
</div>
