@{
    ViewData["title"] = "Gracias";
}

<div class="p-4">
    <div>
        <span class="fuentePrincipal colorTercero" style="font-size: 20pt">¡Gracias por ponerte en contacto conmigo!</span>
    </div>

    <div class="mt-4">
        <span class="fuenteSecundaria colorQuinto fs-6">Te contestaré el mensaje lo más pronto posible.</span>
    </div>

    <div>
        <a asp-controller="Home" asp-action="SobreMi">
            <span class="fuentePrincipal colorTercero">Volver a Inicio</span>
        </a>
    </div>
</div>
