@{
    ViewData["title"] = "Habilidades";
}

<partial name="_Pestanas" model="MenuPortfolio.Habilidades" />

<div class="p-4">
    <div>
        <span class="fuentePrincipal colorTercero" style="font-size: 30pt">HABILIDADES</span>
    </div>

    <div class="mt-4">
        <span class="fuenteTerciaria colorQuinto fs-3" style="font-weight: bold">Lenguajes de Programación</span>
    </div>

    <div class="grid-container div-habilidades">
        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #1b769c">
                <img src="~/imagenes/logos/php.png" class="mw-50 mh-35" />
                <span class="p-1">PHP</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #e44d26">
                <img src="~/imagenes/logos/html.png" class="mw-50 mh-35" />
                <span class="p-1">HTML</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #2277ff">
                <img src="~/imagenes/logos/css.png" class="mw-50 mh-35" />
                <span class="p-1">CSS</span>
            </p>
        </div>

        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="p-habilidades fuentePrincipal colorPrimero p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #efd81d">
                <img src="~/imagenes/logos/javascript.png" style="max-width: 30px; max-height: 20px;" />
                <span class="p-1 colorPrimero">Javascript</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorPrimero p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #dddddd">
                <img src="~/imagenes/logos/java.png" style="max-width: 30px; max-height: 20px;" />
                <span class="p-1">Java</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #d0a701">
                <img src="~/imagenes/logos/sql.png" style="max-width: 30px; max-height: 20px;" />
                <span class="p-1">SQL</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #ce62c5">
                <img src="~/imagenes/logos/cshare.png" style="max-width: 30px; max-height: 20px;" />
                <span class="p-1">C#</span>
            </p>
        </div>
    </div>

    <div class="mt-4">
        <span class="fuenteTerciaria colorQuinto fs-3" style="font-weight: bold">Frameworks y Librerías</span>
    </div>

    <div class="grid-container div-habilidades">
        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #ff2d20; color: #fff">
                <img src="~/imagenes/logos/laravel.png" class="mw-50 mh-35" />
                <span class="p-1">Laravel</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #8acf17">
                <img src="~/imagenes/logos/jquery.png" class="mw-50 mh-35" />
                <span class="p-1">jQuery</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #0b2dbe">
                <img src="~/imagenes/logos/aspnet.png" class="mw-50 mh-35" />
                <span class="p-1">ASP.NET</span>
            </p>
        </div>

        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #8511fa">
                <img src="~/imagenes/logos/bootstrap.png" class="mw-50 mh-35" />
                <span class="p-1">Bootstrap</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #4384f5">
                <img src="~/imagenes/logos/ionic.png" class="mw-50 mh-35" />
                <span class="p-1">Ionic</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorPrimero p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #fff">
                <img src="~/imagenes/logos/flutter.png" class="mw-50 mh-35" />
                <span class="p-1">Flutter</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #898989">
                <img src="~/imagenes/logos/codeigniter.png" class="mw-50 mh-35" />
                <span class="p-1">Codeigniter</span>
            </p>
        </div>
    </div>

    <div class="mt-4">
        <span class="fuenteTerciaria colorQuinto fs-3" style="font-weight: bold">Software y Herramientas</span>
    </div>

    <div class="grid-container div-habilidades">
        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #2981a9">
                <img src="~/imagenes/logos/wordpress.png" class="mw-50 mh-35" />
                <span class="p-1">Wordpress</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorPrimero p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #fff; color: #27245d;">
                <img src="~/imagenes/logos/prestashop.png" class="mw-50 mh-35" />
                <span class="p-1">Prestashop</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-15 p-10-15 p-fila-uno-hab" style="background-color: #30a9ff">
                <img src="~/imagenes/logos/visualstudio.png" class="mw-50 mh-35" />
                <span class="p-1">Visual Studio</span>
            </p>
        </div>

        <div class="col d-flex justify-content-center flex-wrap p-0">
            <p class="p-habilidades fuentePrincipal colorPrimero p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #8acf17">
                <img src="~/imagenes/logos/heidisql.png" class="mw-50 mh-35" />
                <span class="p-1">HeidiSQL</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #4384f5">
                <img src="~/imagenes/logos/photoshop.png" class="mw-50 mh-35" />
                <span class="p-1">Adobe Photoshop</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #6e6e6e">
                <img src="~/imagenes/logos/androidstudio.png" class="mw-50 mh-35" />
                <span class="p-1">Android Studio</span>
            </p>
            <p class="p-habilidades fuentePrincipal colorOctavo p-2 m-1 fs-10 p-fila-dos-hab" style="background-color: #d0a701">
                <img src="~/imagenes/logos/microsoft-sql.png" class="mw-50 mh-35" />
                <span class="p-1">Microsoft SQL</span>
            </p>
        </div>
    </div>
</div>
