@model HomeIndexViewModel

@{
    ViewData["Title"] = "Página principal";
}

<!-- Contendor principal -->
<partial name="_Habilidades" />
<!-- <partial name="_SeccionProyectos" model="Model.Proyectos" /> -->

<!-- Pie de página -->
<div class="container-fluid">Pie de página</div>