@model ProyectoHerramientaViewModel

@{
    ViewData["title"] = "Proyectos";
}

<partial name="_Pestanas" model="MenuPortfolio.Portfolio" />

<div class="p-4">
    <div>
        <span class="fuentePrincipal colorTercero fs-30">MIS PROYECTOS</span>
    </div>
</div>

<partial name="_ListadoProyectos" model="Model" />
