@{
    ViewData["Title"] = "Sobre mí";
}

<partial name="_Pestanas" model="MenuPortfolio.SobreMi" />

<div class="p-4">
    <div>
        <span class="fuentePrincipal colorTercero" style="font-size: 30pt">Hola, soy JAVIER MOYA</span>
    </div>

    <div class="mt-4">
        <span class="fuenteSecundaria colorQuinto fs-6">Bienvenido al portfolio personal de un desarollador web.</span>
    </div>

    <div class="mt-4" style="display: grid">
        <span class="fuenteSecundaria colorQuinto fs-6 mt-3">Si quieres puedes echar un vistazo al <b>portfolio</b> de alguno de los proyectos que he realizado.</span>

        <span class="fuenteSecundaria colorQuinto fs-6 mt-3">También puedes saber acerca de la <b>formación</b> que tengo y los <b>cursos</b> que he finalizado.</span>

        <span class="fuenteSecundaria colorQuinto fs-6 mt-3">Si deseas ponerte en contacto conmigo escríbeme a <b class="colorSeptimo">javimoya33@gmail.com</b> o habla directamente conmigo llamando al <b class="colorSeptimo">656 329 246</b></span>
    </div>

    <div class="mt-4 cursor-pointer font-hover">
        <a>
            <span class="fuentePrincipal colorSeptimo fs-4 btn-portfolio descarga_cv">DESCARGA MI CV</span>
        </a>
    </div>
</div>
